<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2>Raw Data</h2>
    <pre>{{binary_data}}</pre>
    <h2>POST Data Size:</h2>
    <pre>{{ data_size }}</pre>
    <h2>POST Data after Conversion:</h2>
    <pre>{{ data }}</pre>
    <h2>Version : </h2>
    <pre>{{data1.9}}</pre>
    <h2>Command : </h2>
    <pre>{{data1.25}}</pre>
    <h2>Collection Id : </h2>
    <pre>{{data1.20}}</pre>
    <h2>Nonce : </h2>
    <pre>{{data1.156}}</pre>
    <h2>Time Stamp : </h2>
    <pre>{{data1.68}}</pre>
    <h2>Encrypted : </h2>
    <pre>{{data1.134}}</pre>
    <h2>Encrypted Value : </h2>
    <pre>{{data1.other}}</pre>
</body>
</html>
