<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST Data</title>
</head>
<body>
    <h2>Raw Data</h2>
    <pre>{{binary_data}}</pre>
    <h2>Data after Conversion:</h2>
    <pre>{{ data }}</pre>
    <h2>Version : </h2>
    <pre>{{data1.Version}}</pre>
    <h2>Command : </h2>
    <pre>{{data1.Command}}</pre>
    <h2>Collection Id : </h2>
    <pre>{{data1.CollectionId}}</pre>
    <h2>Nonce : </h2>
    <pre>{{data1.Nonce}}</pre>
    <h2>Time Stamp : </h2>
    <pre>{{data1.TimeStamp}}</pre>
    <h2>Encrypted Block : </h2>
    <pre>{{data1.EncryptedBlock}}</pre>
    <h2>Enhanced GCM : </h2>
    <pre>{{data1.EnhancedGcm}}</pre>
    <h2>Printer Id </h2>
    <pre>{{data1.CloudPrinterId}}</pre>
    <h2>Descriptor </h2>
    <pre>{{data1.Descriptor}}</pre>
    <h2>App Flag Ack </h2>
    <pre>{{data1.AppFlagAsk}}</pre>
    {% for key, value in set_signaling_values.items() %}
            {% if value == 1 %}
                <pre>Set bit -> {{ key }}</pre>
            {% endif %}
    {% endfor %}
    <h2>App Flag Ack </h2>
    <pre>{{data1.AppFlagAsk}}</pre>
    {% if data1.AppFlagAskSignal %}
    <pre>Reset bit -> {{ data1.AppFlagAskSignal }} </pre>
    {% endif %}
    <h2>Printer Status </h2>
    <pre>{{data1.PrinterStatus}}</pre>
</body>
</html>
