<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST Data</title>
</head>
<body>
    <h2>Raw Data</h2>
    <pre>{{binary_data}}</pre>
    <h2>Data after Conversion:</h2>
    <pre>{{ data }}</pre>
    <h2>Version : </h2>
    <pre>{{data1.version}}</pre>
    <h2>Command : </h2>
    <pre>{{data1.command}}</pre>
    <h2>Collection Id : </h2>
    <pre>{{data1.collection_id}}</pre>
    <h2>Nonce : </h2>
    <pre>{{data1.nonce}}</pre>
    <h2>Time Stamp : </h2>
    <pre>{{data1.timestamp}}</pre>
    <h2>Encrypted Block : </h2>
    <pre>{{data1.encrypted_block}}</pre>
    <h2>Authenticated And Encrypted : </h2>
    <pre>{{data1.other}}</pre>
</body>
</html>
