<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    {% if logs %}
    <h1>Logs</h1>
    <ul>
        {% for log in logs %}
        <li>{{ log }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div id="hours" >{{duration}}</div>
    <form id="durationForm" action="/get_duration" method="GET">
        <button type="submit" id="submitButton">Submit</button>
        <div id="waitMessage" style="display: none;">Please Wait</div>
    </form>
    {% endif %}
    <script>
        document.getElementById("durationForm").addEventListener("submit", function(event) {
            document.getElementById("submitButton").setAttribute("disabled", "disabled");
            document.getElementById("waitMessage").style.display = "block";
            startCountdown();
        });

        function startCountdown() {
            var duration = parseFloat(document.getElementById("hours").textContent) * 3600; // Duration in seconds
            console.log(duration)
            var interval = setInterval(function() {
                duration--;
                if (duration < 0) {
                    clearInterval(interval);
                    document.getElementById("waitMessage").textContent = "Execution completed!";
                    document.getElementById("submitButton").removeAttribute("disabled");
                } else {
                    var hours = Math.floor(duration / 3600);
                    var minutes = Math.floor((duration % 3600) / 60);
                    var seconds = duration % 60;
                    document.getElementById("waitMessage").textContent = "Please wait... Remaining time: " + hours + "h " + minutes + "m " + seconds + "s";
                    console.log(document.getElementById("waitMessage").textContent)
                }
            }, 1000);
        }
    </script>
</body>
</html>
